* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.dark-container {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #ffffff;
    align-items: center;
}

.grey-container {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.white-container {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.footer {
    justify-content: center;
    padding: 20px;
}

.blue-ad-box {
    display: flex;
    flex: 1 1 auto;
    background-color: #3882F6;
    border-radius: 10px;
    margin: 60px;
    color: #ffffff;
    padding: 40px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1200px;
    align-items: center;    
    gap: 70px;
}

.ad-button {
    display: flex;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 600;
}

.quote-container {
    display: flex;
    text-wrap: wrap;
    max-width: 900px;
    flex-direction: column;
}

.quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quoter {
    display: flex;
    font-size: 20px;
    font-weight: 900;
    justify-content: right;
    padding-right: 10px;
    margin-top: 5px;
}

.random-info {
    justify-content: center;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 800;
    font-style: italic;
}

.box-container {
    display: flex;
    flex: 1;
    margin-bottom: 50px;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
}

.box-info {
    display: flex;
    border: 3px solid #3882F6;
    border-radius: 7px;
    width: 200px;
    height: 200px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}

.caption {
    width: 200px;
    margin-left: 6px;
    margin-right: 6px;
    text-align: center;
    font-weight: 300;
    text-wrap: wrap;
}

.menu {
    display: flex;
    margin-top: 10px;
    gap: 15px;
    align-items: flex-end;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

.logo {
    margin-right: auto;
    font-size: 20px;
    font-weight: 700;
}

.banner {
    display: flex;
    margin: 75px 0px;   
    justify-content: space-between;
    gap: 20px;
}

.left-banner {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: flex-start;
    gap: 10px;
}

.img-placeholder {
    display: flex;
    background-color: #808080;
    padding: 40px 120px;
    text-wrap: nowrap;
    align-items: center;
}

.ad-button-top {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 600;
    margin-bottom: auto;
}

.banner-header {
    font-size: 48px;
    font-weight: 800;
}

.menu-banner-box {
    max-width: 1200px;
}